body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: Open sans;

}

/* Header */

header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 2;
   }

.white-block {
    z-index: 2;
    margin-top: 0.2%;
    position: absolute;
}


.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #155767;
    margin-top: 0.5%;
    padding-left: 15%;
    position: relative;
    margin-left: 15%;
}

.users img {
    width: 80%;
    background-color: white;
    padding: 50%;
    border-radius: 20px;

    /* background-color: white;
    height: 30px;
    padding: 50%;
    border-radius: 30px; */
}

.users {
    padding-top: 0;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

.users-word {
    padding-top: 7%;
}

.nav>li {
    width: 80%;
    list-style-type: none;
    padding-top: 2.8%;
    padding-bottom: 2%
}

.nav li>a {
    text-decoration: none;
    color: white;

}


.nav li a {
    font-size: 24px;
    padding-left: 2%;
}


 /* Main section */

section {
    display: flex;
    width: 100%;
    max-width: 1400px;
 
}

ul {
    list-style: none;

}

.dashboard {
list-style-image: url(../img/dashbord.svg) ;
}

.charging {
    list-style-image: url(../img/charging.svg)
}

.payment {
    list-style-image: url(../img/payment.svg);
}

.user {
    list-style-image: url(../img/user.svg);
    
}

.cpo {
    list-style-image: url(../img/cpo.svg);
    font-weight: bold;
    
}

.report {
    list-style-image: url(../img/report.svg);
}

li a {
text-decoration: none;
font-size: 24px;
color: black;

}

.list {
    width: 22%;
    margin-left: 1%;
    border: 1px solid #7C7C7D;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header Form */

.form {
    width: 80%;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    border: 1px solid #7C7C7D;
    padding-left: 2%;
    padding-right: 1%;
    
    
}
.header-form {
    display: flex;
    justify-content: space-between;
}

.user-form {
    width: 15%;
    font-weight: 700;
    font-size: 24px;
    color: #969697;
    height: 4%;
   
}
.btn {
    width: 40%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blue-btn {
    padding: 1.8%;
    background: #00BFFF;
    color: #F7F7F9;
    border: 1px solid #707070;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.black-btn {
    width: 8%;
    background: black;
    padding: 1%;
    font-size: 20%;

}


/* Form */

form {
    font-size: 20px;
    font-weight: 400;
    margin-top: 2%;
    margin-left: 3%;
}

label{
    margin-left: 2%;
    font-weight: 700;
    margin-bottom: 5%;

}

input {
    /* width: 40%; */
    padding-left: 8%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    border: 1px solid  #A5A5A5;
    margin-top: 4%;
    position: relative;
}

.searcher > img {
    position: absolute;
    margin-top: 1.5%;
    margin-left: 0.5%;
    z-index: 1;
}


.search {
    margin-top: 2%;
    width: 100%;
    display: flex;

}

.searcher {
    width: 65%;
    margin-top: 2.5%;
}

.list-charg {
    width: 30%;
    
}

.list-charg select {
    padding-left: 3%;
    color: #969697;
    
}

select#list {
    width: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 1px solid #969697;
    margin-top: 5%;
    
}

table {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #A5A5A5;
}

th {
    padding-bottom: 2%;
    
}

td {
    background: rgba(214, 214, 214, 0.16);
    height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.background {
    width: 100%;
    height: 6%;
    background: rgba(214, 214, 214, 0.16);
    margin-top: 1%;
}

.btn1 {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000000;
    padding-bottom: 2%;
}

.cards-contain {
    width: 75%;
    display: flex;
    justify-content: space-between;
 
}

.cards {
  width: 0%;

}

.cards input {
    border-radius: 10px;
    padding-top: 8%;
    padding-bottom: 5%;
   
}

.img-container {
    width: 80%;
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}

.imj-url {
    font-weight: 700;
    font-size: 24px;
    margin-top: 5%;
}

.img-number {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
 
}


.img-number:nth-of-type(2) {
    margin-left: 10%;
    margin-right: 10%;
}


.c {
    color: #7C7C7D;
    margin-left: 15%;
    font-size: 14px;
    font-weight: 400;
}

