body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: Open sans;

}

/* Header */

header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 2;
}

.white-block {
    z-index: 2;
    margin-top: 0.2%;
    position: absolute;
}


.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #155767;
    margin-top: 0.5%;
    padding-left: 15%;
    position: relative;
    margin-left: 15%;
}

.users img {
    width: 80%;
    background-color: white;
    padding: 50%;
    border-radius: 20px;

    /* background-color: white;
    height: 30px;
    padding: 50%;
    border-radius: 30px; */
}

.users {
    padding-top: 0;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

.users-word {
    padding-top: 7%;
}

.nav>li {
    width: 80%;
    list-style-type: none;
    padding-top: 2.8%;
    padding-bottom: 2%
}

.nav li>a {
    text-decoration: none;
    color: white;

}


.nav li a {
    font-size: 24px;
    padding-left: 2%;
}


/* Main section */

section {
    display: flex;
    width: 100%;
    max-width: 1400px;
}

ul {
    list-style: none;

}

.dashboard {
    list-style-image: url(../img/dashbord.svg);
}

.charging {
    list-style-image: url(../img/charging.svg)
}

.payment {
    list-style-image: url(../img/payment.svg);
}

.user {
    list-style-image: url(../img/user.svg);
    font-weight: bold;
}

.cpo {
    list-style-image: url(../img/cpo.svg);

}

.report {
    list-style-image: url(../img/report.svg);
}

li a {
    text-decoration: none;
    font-size: 24px;
    color: black;

}

.list {
    width: 22%;
    margin-left: 3.8%;
    border: 1px solid #7C7C7D;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Form */

.form {
    width: 80%;
    margin-top: 1.1%;
    margin-bottom: 1.1%;
    border: 1px solid #7C7C7D;
    padding-left: 2%;
    padding-right: 1%;

}

.header-form {
    display: flex;
    justify-content: space-between;
}

.user-form {
    width: 15%;
    font-weight: 700;
    font-size: 24px;
    color: #969697;
    height: 4%;

}

.btn {
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blue-btn {
    padding: 1.1% 1.1%;
    background: #00BFFF;
    color: #F7F7F9;
    border: 1px solid #707070;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.black-btn {
    width: 5%;
    background: black;
    padding: 1% 0% 0.7% 1.2%;
    font-size: 30%;

}

/* Form */

form {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5%;
    margin-left: 3%;
}

label {
    margin-left: 1%;
    color: #969697;

}

input {
    /* width: 40%; */
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #707070;
}

.search {
    width: 80%;
    display: flex;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.search-img {
    position: absolute;
    margin-left: 36%;
    padding-top: 0.8%;
}

.searcher {
    width: 65%;
    padding-left: 6%;
}

.label {
    margin-top: 2%;
}

.label input {
    width: 50%;
}

.c {
    color: #7C7C7D;
    margin-left: 15%;
    font-size: 14px;
    font-weight: 400;
}