body {
    min-width: 1000px;
    max-width: 1400px;
    font-family: Open sans;
    margin: 0 auto;
}
/* Header */

header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 2;

}

.white-block {
    z-index: 2;
    margin-top: 0.2%;
    position: absolute;
}


.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #155767;
    margin-top: 0.5%;
    padding-left: 15%;
    position: relative;
    margin-left: 15%;
}

.users img {
    width: 80%;
    background-color: white;
    padding: 50%;
    border-radius: 20px;

    /* background-color: white;
    height: 30px;
    padding: 50%;
    border-radius: 30px; */
}

.users {
    padding-top: 0;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

.users-word {
    padding-top: 7%;
}

.nav>li {
    width: 80%;
    list-style-type: none;
    padding-top: 2.8%;
    padding-bottom: 2%

}

.nav li>a {
    text-decoration: none;
    color: white;
   
}


.nav li a {
    font-size: 24px;
    padding-left: 2%;
}


/*Btn*/

.btn {
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blue-btn {
    width: 20%;
    padding: 1% 1%;
    background: #00BFFF;
    color: #F7F7F9;
    border: 1px solid #707070;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.black-btn {
    width: 3%;
    background: black;
    padding: 1.2% 0% 0.7% 1.2%;
    font-size: 30%;

}

/* Main section */

section {
    display: flex;
    width: 100%;
    max-width: 1400px;
}

ul {
    list-style: none;

}

.dashboard {
list-style-image: url(../img/dashbord.svg) ;
}

.charging {
    list-style-image: url(../img/charging.svg)
}

.payment {
    list-style-image: url(../img/payment.svg);
}

.user {
    list-style-image: url(../img/user.svg);
}

.cpo {
    list-style-image: url(../img/cpo.svg);
    font-weight: bold;
}

.report {
    list-style-image: url(../img/report.svg);
}

li a {
text-decoration: none;
font-size: 24px;
color: black;

}

.list {
    width: 20%;
    margin-left: 3%;
    border: 1px solid #7C7C7D;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    width: 80%;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    border: 1px solid #7C7C7D;
    padding-left: 2%;
    padding-right: 1%;
    
    
}
.header-form {
    display: flex;
    justify-content: space-between;
}

.add-cpo {
    font-weight: 700;
    font-size: 24px;
    color: #969697;
    height: 4%;
   
}

.btn-save {
    width: 18%;
    height: 4%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    
}


.delete, .save {
    width: 47%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.delete {
    background: #A2A3A4;
    border: 1px solid #A2A3A4;
}
.save {
    background: #00BFFF;
    border: 1px solid #00BFFF;
    
}

/* Form */

form {
    font-size: 20px;
    font-weight: 400;
    margin-top: 12%;
    margin-left: 3%;
}

label{
    margin-left: 1%;
    color:  #969697;
}

input {
    width: 70%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid  #707070;
}
.country-cod {
width: 83%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.country-cod label {
    margin-left: 2.5%;
}

.cod, .id {
    width: 50%;
      
}

.cod input, .id input {
    padding-top: 2.5%;
    padding-bottom: 2%;
    padding-left: 4%;
}

.token {
width: 75%;
 display: flex;
 flex-direction: row;
 justify-content:flex-start;
 margin-top: 1%;
 
}

.lokal-token {
    width: 71%;
}

.lokal-token label {
    margin-left: 2.5%;
}

.lokal-token input {
    width: 97%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
}

.generate-token {
    width: 30%;
    margin-top: 2.8%;
    background: #00BFFF;
    padding: 1%;
    padding-top: 1.5%;
 
}

.generate-token a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.c {
    color: #7C7C7D;
    margin-left: 15%;
    font-size: 14px;
    font-weight: 400;
}