body {
    margin: 0;
    min-width: 1000px;
    max-width: 1400px;
    
}

.page1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
width: 50%;

}

.cero{
    width: 50%;
    height: 40%;
    padding-left: 20%;
    padding-bottom: 30%;
    
}


.login {
    width: 60%;
    height: 40%;
    margin-top: 20%;
    border-left: 5px solid #FFA500;
    padding-left: 5%;
    padding-bottom: 2%;
}

.name, .password {
    font-family: open sans;
    font-size: 28px;
    color: #969697;
}

input {
    border: 1px solid #969697;
    width: 40%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: black;
}

.btn {
    width: 20%;
    background: #00BFFF;
    margin-left: 21%;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    font-family: open sans;
    font-weight: 700;
    font-size: 24px;
    
}

.forgot {
    margin-left: 40%;
 
}

.forgot >a {
    text-decoration: none;
    font-family: open sans;
    font-size: 18px;
    color: #969697;
    margin-right: 0;
}

